.project-icon {
    display: block;
    width: 50px;
}

.homepage-icon {
    display: block;
    width: 47px;
}

.resume-icon {
    display: block;
    width: 52px;
    margin-left: 11px;
}

.aboutme-icon {
    display: block;
    width: 52px;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: 11;
    bottom: 4px;
    top: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50px;
}

nav {
    opacity: 0.4;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

}

.sidebar-link {
    margin-top: 60px;
    height: 125px;
}

.sidebar-link img {
    margin-bottom: 4px;
}

.aboutme-icon1 {
    display: block;
    width: 52px;
    border: 0;
    margin-left: 8px;
}

.test {
    height: 0;
}

/* unvisited link */
a:link {
    color: rgb(71, 22, 61);
  }
  
  /* visited link */
  a:visited {
    color: rgb(6, 184, 211);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(240, 13, 126);
  }
  
  /* selected link */
  a:active {
    color: rgb(203, 241, 113);
  }