.contOne {
  width: 20%;
}

header {
    background-color: black;
    opacity: 0.6;
    border-radius: 50px;
    color: rgb(255, 255, 255);
  }

h1 {
    display: inline-block;
    font-size: 60px;
    margin: 0;
    font-family: 'Kalam', cursive;
  }

.resume-bar {
    display: inline-block;
    margin-top: 30px;
    margin-left: 110px;
  }

.resumeImg {
  width: 100%;
}

.side-group {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-left: 70px;
    padding-top: 70px;
}

.sm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.linkedin {
    display: block;
    margin: auto;
    margin-bottom: 60px;
}

.github1 {
    display: block;
    width: 200px;
  }