@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Cinzel&family=Dancing+Script&family=Indie+Flower&family=Kalam:wght@300;400&family=Rancho&family=Satisfy&display=swap');


.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* // ---------------- Start of About Me Page ----------------  */

.header {
  background-color: black;
  opacity: 0.6;
  border-radius: 50px;
}

.h1 {
  color: #ffffff;
  display: inline-block;
  font-family: 'Kalam', cursive;
}

h3 {
  color: #ffffff;
}

ul p {
  margin: 0;
}

.first-block {
  display: inline-block;
  width: 300px;
  margin-top: 30px;
  margin-right: 10px;
  padding-left: 40px;
}

.second-block {
  display: inline-block;
  width: 60%;
  font-size: 19px;
  border-style: dotted;
  border-width: thick;
  border-color: rgb(250, 213, 250);
  border-width: 10px;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 20px;
  vertical-align: top;  
  background-color: rgb(46, 43, 43);
  opacity: 0.8;
  color: #61dafb;
}

.title {
  font-family: 'Rancho', cursive;
  font-size: xxx-large;
}

.artImage {
  width: 300px;
}
